.defination img{
    width: 280px;
}
.defination h3{
    font-size: 28px;
    font-weight:400;
}
.button{
    margin-left: 70px;
    font-size: 17px;
    font-weight: 500;
}
.logbtn{
    font-size: 17px;
    font-weight: 700;
}
.total-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    width: 960px;
}
.input-box{
    height: 341px;
    background-color:#fff;
    padding:23px;
    border-radius: 7px;
    margin-top: -70px;
    box-shadow: 50px 56px 78px -90px gray;
}
.upper-part{
    background-color: #605b5b13;
    height: 670px;
}
.input-box input{
    padding: left 25px;
    height: 50px;
}
.create{
    text-align: right;
    margin-top:23px;
    margin-left: 12px;
}
.create a{
    color:black;
    font-weight: 500;
    font-size: 15px;
}


/* down part */ 


.language ul{
    list-style: none;
    display: flex;
    margin-top: 17px;
}
.language ul li{
    margin-right: 12px;
    font-size: 14px;
    color: #605b5bd2;

}

.languages ul{
    list-style: none;
    display: flex;
    margin-top: 17px;
}
.languages ul li{
    margin-right: 10px;
    font-size: 14px;
    color: #605b5bd2;

}
.down-part{
    display: flex;
    justify-content: center;
    padding: 35px;
}